



.form{
   height: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white; 
}





.login_card{
   
    top: 50%;
    left :50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;


}

.btn {
    width: 50%;
    margin-top: 20px;
    margin-left: 30%;
}

